@font-face {
  font-family: Fraternite;
  src: url(https://github.com/Bleacheddata/portfolio-website/blob/main/src/fonts/Fraternite.ttf?raw=true);
}

.App {
  font-family: "Fraternite";
  color: #b79467;
  text-align: center;
}
body {
  background: #000000;
}
.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 20px;
  border-bottom: 2px solid black;
}
.Navlinks {
  display: flex;
}
.Navlinks li {
  list-style: none;
  padding: 0 2vw;
}

#brand {
}

.intro-1 {
  height: 500px;
  background: #b79467;
  color: black;
  font-family: "Roboto Slab", serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro-2 {
  height: 500px;
  background: black;
}
.intro-2-text {
  font-size: 5em;
}
.intro-heading {
  color: black;
  font-family: "Roboto Slab", serif;
  font-size: 7em;
}
.Footer {
  height: 500px;
}
